.signup {
  @include column-flexbox;
  width: 100%;
  padding: 60px 50px;
  max-width: 500px;
  margin: 0 auto;

  &-logo {
    img {
      display: block;
      width: auto;
      height: 100px;
    }
    margin-bottom: 32px;
  }

  &-desc {
    margin-bottom: 32px;
  }

  &-title {
    font-size: 24px;
    color: $primary;
    line-height: 43px;
    margin: 16px 0;
  }

  &-form {
    width: 100%;
    position: relative;
  }

  .form-input {
    margin-bottom: 12px;
  }

  .email {
    @include flexbox;
    margin-bottom: 12px;

    .form-input {
      margin-bottom: 0;
    }

    .auth-email-btn {
      min-width: max-content;
      margin-left: 8px;
    }
  }

  .agree-group {
    @include flexbox(between);
    margin-bottom: 16px;
  }

  .form-checkbox {
    margin-right: 4px;
  }

  .service-content-link {
    text-decoration: underline;

    &:hover {
      opacity: 0.5;
    }
  }

  &-btn-container {
    margin-bottom: 16px;
  }

  &-btn {
    width: 100%;
  }
}
