@font-face {
  font-family: "cosmo";
  src: url("/public/assets/fonts/cosmo.eot");
  src: url("/public/assets/fonts/cosmo.eot#iefix") format("embedded-opentype"),
    url("/public/assets/fonts/cosmo.ttf") format("truetype"),
    url("/public/assets/fonts/cosmo.woff") format("woff"),
    url("/public/assets/fonts/cosmo.svg#cosmo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
