@font-face {
  font-family: "cosmo";
  src: url("/public/assets/fonts/cosmo.eot");
  src: url("/public/assets/fonts/cosmo.eot#iefix") format("embedded-opentype"),
    url("/public/assets/fonts/cosmo.ttf") format("truetype"),
    url("/public/assets/fonts/cosmo.woff") format("woff"),
    url("/public/assets/fonts/cosmo.svg#cosmo") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "cosmo" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-write:before {
  content: "\e905";
}
.ic-alert:before {
  content: "\e951";
}
.ic-user:before {
  content: "\e971";
}
.ic-auth:before {
  content: "\e98d";
}
.ic-menu:before {
  content: "\e9bd";
}
.ic-bookmarks:before {
  content: "\e9d3";
}
.ic-heart:before {
  content: "\e9da";
}
.ic-homepage:before {
  content: "\ea80";
}
.ic-email:before {
  content: "\ea83";
}
.ic-github:before {
  content: "\eab0";
}
