.gnb {
  position: relative;
  border-bottom: 1px solid $border;
  background-color: $blue-light;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  &-icon-btn {
    @include flexbox;
    width: 32px;
    height: 32px;

    i {
      font-size: 24px;
      color: $secondary;
    }
  }

  &-logo {
    @include pos-center;
    s a {
      display: block;
    }

    img {
      display: block;
      width: auto;
      height: 40px;
    }
  }

  &-right {
    .btn-group {
      @include flexbox(end);
    }
  }

  /* Tablet */
  @include responsive(T) {
    &-logo {
      position: static;
      transform: none;
    }
  }

  .gnb-btn-write {
    margin-right: 4px;
  }
}
